.ahead {
  font-family: 'Roboto';
  font-size: 30px;
  color: #000000;
  font-weight: 600;
  text-align: center;
}

.un-lis {
  padding-left: 0px;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.h {
  font-family: 'Roboto';
  font-size: 23px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  background-color: indigo;
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.li1 {
  border-width: 0px;
  background-color: powderblue;
  margin-right: 28px;
  width: 40%;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 100vh;
}

.opt {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 20px;
  list-style-type: disc;
}

.footer {
  font-family: 'Roboto';
  font-size: 23px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  background-color: indigo;
  padding: 16px;
  margin-bottom: 0px;
}

.p1 {
  font-family: 'Roboto';
  font-size: 20px;
  color: red;
  font-weight: 600;
  padding-left: 25px;
}
